.title {
	color: var(--text-color);
	font-size: 3rem;
}

.title.secondary {
	font-size: 2rem;
}

.paragraph {
	color: var(--text-color);
	font-size: 1.25rem;
	text-align: justify;
	line-height: 1.5;
}

