.title {
	color: var(--main-light);
	font-size: 3rem;
}

.title.dark {
	color: var(--main-dark);
}

.title.secondary {
	font-size: 2rem;
}

.paragraph {
	color: var(--main-light);
	font-size: 1.25rem;
	text-align: justify;
	line-height: 1.5;
}

.paragraph.dark {
	color: var(--main-dark);
}

.paragraph.code {
	font-family: var(--secondary-font-family);

	page-break-inside: avoid;
	word-wrap: break-word;
}

.csharp-highlight {
	background-color: transparent !important;
	color: var(--main-light) !important;
}
