:root {
	/**COLORS**/
	--main-100: #fff8e3;
	--main-200: #faf4b7;
	--main-300: #ffe9ae;

	--secondary-100: #e5e1da;
	--secondary-200: #b0a695;
	--secondary-300: #7a6f61;

	--success-100: #e1f0da;
	--success-200: #d4e7c5;
	--success-300: #bfd8af;
	--success-400: #99bc85;

	--danger-100: #ffd1d1;
	--danger-200: #f29393;
	--danger-300: #e97777;

	--text-color: #1d1c1a;
	--background-color: #fbf9f1;
	--atom-one-color: #282c34;

	/**TEXT**/
	--base-font-size: 16px;
	--main-font-family: system-ui, sans-serif;
	--secondary-font-family: ui-monospace, 'Cascadia Code', 'Source Code Pro', Menlo, Consolas,
		'DejaVu Sans Mono', monospace;

	/**UTILITY**/
	--simple-radius: 10px;
	--simple-shadow: 6px 9px 12px -6px rgba(0, 0, 0, 0.25);

	/**LAYOUT**/
	--page-container-width: 1280px;
}

@media (max-width: 1280px) {
	:root {
		/**LAYOUT**/
		--page-container-width: 100%;
	}
}
