.home-page .problem-container {
	width: 100%;

	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	gap: 3em;

	justify-content: space-around;
}

.home-page .problem-box {
	position: relative;
	padding: 1em;

	border-radius: var(--simple-radius);

	display: flex;
	justify-content: center;
	align-items: center;

	text-align: center;

	cursor: pointer;

	/* animation: enter forwards 1s ease-in-out; */
	/* opacity: 0; */

	transition: all 0.25s ease-in-out;
}

.home-page .problem-box .problem-box-number {
	position: absolute;
	bottom: -20%;
	left: -5%;

	background-color: var(--secondary-200);
	padding: 0.25em;
	font-weight: bold;
	border-radius: var(--simple-radius);
	box-shadow: var(--simple-shadow);

	font-size: 1.5rem;

	transform: rotate(15deg);
}

.home-page .problem-box,
.home-page .problem-box .problem-box-number {
	transition: all 0.25s ease-in-out;
}

.home-page .problem-box:hover,
.home-page .problem-box:focus {
	transform: translate(-3px, -3px);
}

.home-page .problem-box:hover .problem-box-number,
.home-page .problem-box:focus .problem-box-number {
	bottom: -25%;
	transform: rotate(-5deg) scale(1.25);
}

/**DIFFICULTY SPECIFIC CSS**/

/**easy*/
.home-page .problem-box.easy {
	background-color: var(--success-100);
	box-shadow:
		5px 5px var(--success-200),
		10px 10px var(--success-300);
}

.home-page .problem-box.easy:hover,
.home-page .problem-box.easy:focus {
	box-shadow:
		14px 14px var(--success-200),
		25px 25px var(--success-300);
}

.home-page .problem-box .problem-box-number.easy {
	background-color: var(--success-300);
}

/**medium*/
.home-page .problem-box.medium {
	background-color: var(--secondary-100);
	box-shadow:
		5px 5px var(--secondary-200),
		10px 10px var(--secondary-300);
}

.home-page .problem-box.medium:hover,
.home-page .problem-box.medium:focus {
	box-shadow:
		14px 14px var(--secondary-200),
		25px 25px var(--secondary-300);
}

.home-page .problem-box .problem-box-number.medium {
	background-color: var(--secondary-300);
}

/**hard*/
.home-page .problem-box.hard {
	background-color: var(--danger-100);
	box-shadow:
		5px 5px var(--danger-200),
		10px 10px var(--danger-300);
}

.home-page .problem-box.hard:hover,
.home-page .problem-box.hard:focus {
	box-shadow:
		14px 14px var(--danger-200),
		25px 25px var(--danger-300);
}

.home-page .problem-box .problem-box-number.hard {
	background-color: var(--danger-300);
}

.home-page .problem-pagination {
	margin-top: 3em;
	align-self: center;

	display: flex;
	align-items: center;
	gap: 1em;
}

.home-page .problem-pagination .arrow {
	font-size: 1.5rem;
	font-weight: bold;
	padding: 1em;

	background-color: var(--main-200);
	border-radius: var(--simple-radius);

	cursor: pointer;
}

@media (max-width: 1280px) {
	.home-page .problem-container {
		grid-template-columns: 1fr 1fr 1fr;
	}

	.home-page .problem-box {
		padding: 1em 0.25em;
	}

	.home-page .problem-box .problem-box-number {
		bottom: -10%;
		left: -2%;

		font-size: 1.25rem;

		transform: rotate(10deg);
	}

	.home-page .problem-box:hover,
	.home-page .problem-box:focus {
		transform: translate(-3px, -3px);
	}

	.home-page .problem-box:hover .problem-box-number,
	.home-page .problem-box:focus .problem-box-number {
		bottom: -20%;
		transform: rotate(0deg) scale(1.1);
	}

	/**DIFFICULTY SPECIFIC CSS**/

	/**easy*/
	.home-page .problem-box.easy:hover,
	.home-page .problem-box.easy:focus {
		box-shadow:
			11px 11px var(--success-200),
			20px 20px var(--success-300);
	}

	/**medium*/

	.home-page .problem-box.medium:hover,
	.home-page .problem-box.medium:focus {
		box-shadow:
			11px 11px var(--secondary-200),
			20px 20px var(--secondary-300);
	}

	/**hard*/

	.home-page .problem-box.hard:hover,
	.home-page .problem-box.hard:focus {
		box-shadow:
			11px 11px var(--danger-200),
			20px 20px var(--danger-300);
	}
}

@media (max-width: 768px) {
	.home-page .problem-container {
		grid-template-columns: 1fr 1fr;
		gap: 2em;
	}

	.home-page .problem-box {
		padding: 1em 0.25em;
	}

	.home-page .problem-box .problem-box-number {
		bottom: -15%;
		left: -2%;

		font-size: 1rem;
	}

	/**DIFFICULTY SPECIFIC CSS**/

	/**easy*/
	.home-page .problem-box.easy:hover,
	.home-page .problem-box.easy:focus {
		box-shadow:
			9px 9px var(--success-200),
			16px 16px var(--success-300);
	}

	/**medium*/

	.home-page .problem-box.medium:hover,
	.home-page .problem-box.medium:focus {
		box-shadow:
			9px 9px var(--secondary-200),
			16px 16px var(--secondary-300);
	}

	/**hard*/

	.home-page .problem-box.hard:hover,
	.home-page .problem-box.hard:focus {
		box-shadow:
			9px 9px var(--danger-200),
			16px 16px var(--danger-300);
	}
}
