.card {
	width: fit-content;
	padding: 1em;

	background-color: var(--main-100);
	border-radius: var(--simple-radius);
	box-shadow: var(--simple-shadow);
}

.card.fullwidth {
	width: 100%;
}

.success.card {
	background-color: var(--success-400);
}

.secondary.card {
	background-color: var(--secondary-200);
}

.danger.card {
	background-color: var(--danger-300);
}

.paragraph .highlight {
	text-shadow: 2px 2px var(--secondary-200);
	font-weight: bold;
	font-size: 1.5rem;
	letter-spacing: 1px;
}

.link-container {
	text-decoration: none;

	cursor: pointer;
}

@media (max-width: 1280px) {
	.paragraph .highlight {
		font-size: 1.25rem;
	}
}

@media (max-width: 768px) {
	.paragraph .highlight {
		font-size: 1rem;
		text-shadow: 1px 1px var(--secondary-200);
	}
}
