.card {
	width: fit-content;
	padding: 1em;

	background-color: var(--secondary-dark);
	border-radius: var(--simple-radius);
	box-shadow: var(--simple-shadow);
}

.card.fullwidth {
	width: 100%;
}

.success.card {
	background-color: var(--success);
}

.danger.card {
	background-color: var(--danger);
}

.accent.card {
	background-color: var(--accent);
}

.secondary.card {
	background-color: var(--secondary-light);
}

.dark.card {
	background-color: var(--main-dark);
}

.flag {
	text-shadow: 2px 2px var(--main-dark);
	font-weight: bold;
	font-size: 1.5rem;
}

.paragraph .highlight {
	text-shadow: 2px 2px var(--main-dark);
	font-weight: bold;
	font-size: 1.5rem;
	letter-spacing: 1px;
}

.paragraph.dark .highlight {
	text-shadow: 2px 2px var(--main-light);
}
