.problem-filter {
	position: fixed;

	top: 50%;

	display: flex;
	flex-direction: column;
	gap: 1em;

	transform: translateY(-50%);
}

.page-container {
	align-self: center;
	width: 100%;
	max-width: var(--page-container-width);

	display: flex;
	flex-direction: column;
	gap: 1em;

	overflow: visible;
}

.problem-filter .card {
	transition: all 0.25s ease-in-out;
	cursor: pointer;
}

.problem-filter .card:hover,
.problem-filter .card:focus {
	transform: translateX(10%);
	filter: brightness(90%);
}
